body {
  background-color: rgb(0, 0, 0);
}
 p { 
  color: rgb(255,255,255);
  font-family: 'THSarabunNewRegular';
  font-size: 24px }
h1 {
    color: rgb(246, 0, 0);
    font-family: 'BeonRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    }
  h2 {
    color: rgb(255, 255, 255);
    font-family: 'BeonRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    }
  li {
    color: rgb(255,255,255);
    font-family: 'THSarabunNewRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    text-align: left;
 }
 /* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: #111;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: red;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: auto;
    height: auto;
    border-radius: 0%;
  }
#thebuttons {
	/* this is flex display - we'll get to it in week 5 */
	display: flex;
}
button {
  padding: 20px;
  border: solid 5px; 
  border-radius: 0px;
  background-color: rgb(255, 253, 253);
  margin: 80px;
}
button:hover{
	background-color: rgb(81, 17, 17);
}
button div {
  border: solid 10px;
}
#thebutton {
	display: flex;
}
button {
  padding: 20px;
  border: solid 5px; 
  border-radius: 0px;
  background-color: rgb(255, 253, 253);
  margin: 80px;
  align-items: right;
}
button:hover{
	background-color: rgb(81, 17, 17);
}
button div {
  border: solid 10px;
}
h3 {
    color: rgb(0, 0, 0);
    font-family: 'BeonRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 50px;
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}
.wrapper {
    text-align: center;
}
img {
  max-width:100%;
  height:auto;
}

