body {
  background-color: rgb(221, 235, 236);
}
 p { 
  color: rgb(15, 41, 90);
  font-family: 'THSarabunNewRegular';
  font-weight: normal; 
  font-style: normal; 
  font-size: 50px;
  text-align: center;
 }
h1 {
    color: rgb(63, 127, 230);
    font-family: 'OrkneyRegular'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 100px;
    text-align: center;
    }
  h2 {
    color: rgb(255, 255, 255);
    font-family: 'OrkneyRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 100px;
    text-align: center;
    }
  li {
    color: rgb(63, 127, 230);
    font-family: 'THSarabunNewRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 26px;
    text-align: left;
 }
 /* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color:rgb(221, 235, 236) ;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:rgb(63, 127, 230);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: auto;
    height: auto;
    border-radius: 0%;
  }
#thebuttons {
	display: flex;
}
button {
  padding: 20px;
  border: solid 5px; 
  border-radius: 0px;
  background-color: rgb(255, 253, 253);
  margin: 50px;
}
button:hover{
	background-color: rgb(63, 127, 230);
}
button div {
  border: solid 90px;
}
#thebutton {
	display: flex;
}
button {
  padding: 15px;
  border: solid 5px; 
  border-radius: 10px;
  background-color: rgb(255, 253, 253);
  margin: 10px;
  align-items:  center;
  color: rgb(63, 127, 230);
  font-family: 'OrkneyRegular';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
button:hover{
	background-color: rgb(63, 127, 230);
}
button div {
  border: solid 1px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.wrapper {
    text-align: center;
}
img {
  max-width:100%;
  height:auto;
}

